/*****************************************************************************
  mroussetos
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';





/*****************************************************************************
  Base Styles
******************************************************************************/
body {
	color: #333;
	height: 100%;
	line-height: 1.5em;
	font-family: $helvetica;
  font-size: 1rem;
  text-align: center;
}

a {
  color: grey;
}

/*****************************************************************************
  Layout Styles
******************************************************************************/
#navbar {
	@include transition-duration(0.2s);
	position: fixed;
	top: -8em;
	left: 0px;
	right: 0px;
	height: 12em;
	display: inline;
	width: 100%;
	z-index: 1000;
	&.active {
    top: -70px;
  }
}

nav {
padding-top: 4rem;
}

nav li {
text-decoration: none;
}


nav:hover {
	background: rgba(255, 255, 255, 0.2);
	cursor: pointer;

}

#navbar ul {
  list-style: none;
  text-align: center;
}

#navbar a:hover {
color: lightgrey;
@include transition (all 0.2s ease-in-out);

}

#navbar a {
  text-decoration: none;
}

#navbar li {
display: inline;
padding: 1rem;

}


header {
	background-color: #B8B8B8;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.5rem;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100vh;
	@include transition-duration(1s);
}

#titlescreen {
	opacity: 0.8;
}

header:hover {
	background-color: #FFFF00;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@include transition-duration(1s);
	@include linear-gradient( 45deg, yellow, green );

}

header #skip {
  text-decoration: none;
  font-size: 2em;
  color: white;
  opacity: 0.8;
  text-align: center;
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  right: 0;
  height: 1.5rem;
}

header ul {
  list-style: none;
  padding: 1rem;
}



main {
	margin: 0 16.66667%;
}

section {
  padding-top: 5%;
  padding-bottom: 5%;
}

section a:hover {
  opacity: 0.8;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movie {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  opacity: 0.8;
}

.work {
  @include display(flex);

}

.work img {
  width: 100%;
  padding: 0.5rem;
}

footer {
  background: tint(yellow, 60%);
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  height: 200px;
  padding-top: 4em;
  text-align: center;
}

footer a:hover {
color: lightgrey;
@include transition (all 0.2s ease-in-out);

}

footer ul {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

footer li {
}


/*****************************************************************************
  Module Styles
******************************************************************************/
/*NAVIGATION BAR STYLES*/
#nav-toggle {
  position: absolute;
  left: 0em;
  bottom: 0.3em;
  cursor: pointer;
  padding: 30px 50px 30px 30px;

}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 0px;
  height: 3px;
  width: 25px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}

#nav-toggle span:before {
  top: -8px;
}

#nav-toggle span:after {
  bottom: -8px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  transition: all 300ms ease-in-out;
}

#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/*******************************************
Below are styles for .fluidbox
/**********************************************/

.fluidbox {
  outline: none;
}
.hidden {
  display: none;
}
.fluidbox-overlay {
  background-color: rgba(255,255,255,.85);
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all .25s ease-in-out;
}
.fluidbox-wrap {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  transition: all .25s ease-in-out;
}
.fluidbox-ghost {
  background-size: cover;
  background-position: center center;
  position: absolute;
  transition: all .25s ease-in-out;
}
  .fluidbox-closed .fluidbox-ghost {
    -webkit-transition-property: top, left, opacity, -webkit-transform;
    -moz-transition-property: top, left, opacity, -moz-transform;
    -o-transition-property: top, left, opacity, -o-transform;
    transition-property: top, left, opacity, transform;
    transition-delay: 0, 0, .25s, 0;
  }
  .fluidbox-closed .fluidbox-wrap img {
    transition-property: opacity;
    transition-delay: .25s;
    transition-duration: 0s;
  }
