/*****************************************************************************
  mroussetos
******************************************************************************/
@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';
/*****************************************************************************
  Base Styles
******************************************************************************/
body {
height: 100%;
line-height: 1.3em;
text-align: center;
}

a {
color: #cccc33;
}

p {
margin-top: 0.5em;
margin-bottom: 1.3em;
padding-left: 3rem;
padding-right: 3rem;
font-family: Times;
font-size: 1.1rem;
font-style: italic;
text-transform: uppercase;
color: #2C2C2C;
}

h1 {
font-family: FuturaPT-Bold;
text-transform: uppercase;
font-size: 5em;
letter-spacing: 10px;
color: #cccc33;
}

h2 {
margin-bottom: 0;
font-family: FuturaPT-Bold;
text-transform: uppercase;
font-size: 2.5rem;
letter-spacing: 2px;
color: #2C2C2C;
}

/*****************************************************************************
  Layout Styles
******************************************************************************/
#navbar {
	@include transition-duration(.25s);
	position: fixed;
	top: -8.5em;
	left: 0px;
	right: 0px;
	height: 12em;
	display: inline;
	width: 100%;
	z-index: 1000;
	&.active {
    top: -40px;
  }
}

nav {
padding-top: 5.5rem;
font-family: Times;
font-size: 1.2rem;
font-style: italic;
text-transform: uppercase;
}

nav li {
text-decoration: none;
}


nav:hover {
background: tint(#cccc33, 80%);
opacity: 0.8;
cursor: pointer;
}

#navbar ul {
list-style: none;
text-align: center;
}

#navbar a:hover {
color: #2C2C2C;
@include transition (all 0.2s ease-in-out);
}

#navbar a {
text-decoration: none;
}

#navbar li {
display: inline;
padding: 1rem;
}


header {
background: tint(#cccc33, 40%);
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 1.5rem;
overflow: hidden;
position: relative;
width: 100%;
height: 100vh;
@include transition-duration(1s);
}

#titlescreen {
opacity: 0.8;
}

header:hover {
content: "";
top: 0;
left: 0;
right: 0;
bottom: 0;
@include transition-duration(1s);
@include linear-gradient( 45deg, white, white );
}

header #skip {
text-decoration: none;
color: white;
opacity: 0.8;
text-align: center;
position: absolute;
bottom: 1.5rem;
left: 0;
right: 0;
height: 1.5rem;
}

header ul {
list-style: none;
padding: 1rem;
}

hr {
border-style: solid;
color: tint(#cccc33, 40%);
}

main {
margin: 0 16.66667%;
}

section {
padding-top: 4rem;
}

section ul {
list-style: none;
margin: 0;
padding: 0;
}

iframe {
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.movie {
position: relative;
padding-bottom: 56.25%;
height: 0;
}

.work {
@include display(flex);
}

.work img {
width: 100%;
display: table-cell;
padding: 5px;
}


footer {
position: absolute;
width: 100%;
left: 0;
right: 0;
height: 400px;
padding-top: 7em;
text-align: center;
}

footer div {
display: inline;
}

footer .copywrite {
padding-top: 1rem;
font-size: 0.7rem;
display: block;
}

footer a:hover {
color: lightgrey;
@include transition (all 0.2s ease-in-out);
}

footer img {

}


footer ul {
margin-left: auto;
margin-right: auto;
display: inline;
}

footer li {
display: inline;
list-style: none;
}

footer a:hover {
@include transition (all 0.2s ease-in-out);
opacity: 0.8;
}

/*****************************************************************************
  Module Styles
******************************************************************************/
/*NAVIGATION BAR STYLES*/
#nav-toggle {
  position: absolute;
  left: 0em;
  bottom: 0.3em;
  cursor: pointer;
  padding: 30px 50px 30px 30px;

}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 0px;
  height: 3px;
  width: 25px;
  background: #cccc33;
  position: absolute;
  display: block;
  content: '';
}

#nav-toggle span:before {
  top: -8px;
}

#nav-toggle span:after {
  bottom: -8px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  transition: all 300ms ease-in-out;
}

#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/*******************************************
Below are styles for .fluidbox
/**********************************************/

.fluidbox {
  outline: none;
}
.hidden {
  display: none;
}
.fluidbox-overlay {
  background-color: rgba(255,255,255,.85);
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all .25s ease-in-out;
}
.fluidbox-wrap {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  transition: all .25s ease-in-out;
}
.fluidbox-ghost {
  background-size: cover;
  background-position: center center;
  position: absolute;
  transition: all .25s ease-in-out;
}
  .fluidbox-closed .fluidbox-ghost {
    -webkit-transition-property: top, left, opacity, -webkit-transform;
    -moz-transition-property: top, left, opacity, -moz-transform;
    -o-transition-property: top, left, opacity, -o-transform;
    transition-property: top, left, opacity, transform;
    transition-delay: 0, 0, .25s, 0;
  }
  .fluidbox-closed .fluidbox-wrap img {
    transition-property: opacity;
    transition-delay: .25s;
    transition-duration: 0s;
  }
